<h1>Contact view</h1>
<ul>
<% acontact = @@rolodex.find(@contact_id) %>
  <li>Contact ID: <%= acontact.id %></li>
  <li>First name: <%= acontact.first_name %></li>
  <li>Last name:  <%= acontact.last_name %></li>
  <li>E-mail:     <%= acontact.email %></li>
  <li>Note:       <%= acontact.note %></li>
<% end %>
</ul>
